-
  var _props = {};

mixin card-user(props)
  .card-user
    img.card-user__avatar(
      src="./images/photos/users/evano/evano_x4.png"
      alt="avatar photo"
      srcset=""
    )
    div
      .card-user__name Evano
      .card-user__profession Project Manager
