//- Data
-
  var social = {
    email: "svitlanaoliinyk.nutritionist@ukr.net",
    instagram: "https://www.instagram.com/svitlana.olijnyk/",
    telegram: "https://t.me/svitlanaolijnyk",
    phoneNumber: "+380 67 607 60 07",
    whatsApp: "https://wa.me/380676076007",
    viber: "viber://contact?number=380676076007",
    facebookMessenger: "#",
    facebook: "#",
    youtube: "#",
  };

//- Breack
-
  var breakpoints= {
    desktop:  1400,   // ↓ max   Desktop   ↑ min
    labtop:   1200,   // ↓ max   Labtop    ↑ min
    tablet:   992,    // ↓ max   Tablet    ↑ min
    phablet:  768,    // ↓ max   Phablet   ↑ min
    phone:    576,    // ↓ max   Phone     ↑ min
  };
